body{
    font-family: Arial, sans-serif;
    background-color: #ffb6c1;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffe4e1;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

.form-group select,
.form-group textarea,
.form-group input[type="text"],
.form-group input[type="password"] {
    width: calc(100% - 20px);
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

.bouquet-list ul {
    list-style-type: none;
    padding: 0;
}

.bouquet-list li {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.bouquet-list h2 {
    margin: 0 0 10px;
    font-size: 20px;
    color: #333;
}

.bouquet-list p {
    margin: 0;
    font-size: 16px;
    color: #555;
}
.profile-info {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.profile-info p {
    margin: 10px 0;
    font-size: 18px;
}

.flower-info {
    margin-left: 20px;
    padding-left: 20px;
    border-left: 2px solid #ccc;
}
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-form {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form h2 {
    margin-bottom: 20px;
    text-align: center;
}


@media only screen and (max-width: 600px) {
    .container {
        margin: 20px auto;
    }
}

      